### SYSTEMD ###
[Unit]
Description=Consul start up script

[Service]
ExecStart=/bin/bash /home/ubuntu/consul_setup
Restart=always

[Install]
WantedBy=multi-user.target





### Supervisor ###
[program:consul]
command=/bin/bash /home/ec2-user/consul_setup
autorestart = true
user=ec2-user
